$content-fontcolor: #333;
$medium-fontcolor: #666;
$light-fontcolor: #999;
$content-notice-fontcolor: #777;
$content-bgColor: #F1F1F1;
$search-bgColor: #F5F5F5;
$search-fontColor: #B7B7B7;
$bgColor: #FFF;
$highlight-bgColor: #E93B3B;
$btn-bgColor: #0091FF;
